.version.derevenka /* version checker */
{
	color: #0000E8;
	background-color: #7AAC01;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -1705px;
	width: 0.01px;
}

#ppu844
{
	width: 0.01px;
	margin-left: -291px;
}

#pu844
{
	z-index: 27;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u844
{
	z-index: 0;
	width: 1529px;
	background-color: #000000;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu845-8
{
	width: 0.01px;
	position: relative;
	left: 311px;
	padding-top: 142px;
	z-index: 2;
	padding-bottom: 363px;
}

#u845-8
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u843-9
{
	z-index: 18;
	width: 533px;
	min-height: 204px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 505px;
}

#u843-3
{
	font-size: 24px;
	line-height: 29px;
}

#u843-4,#u843-6
{
	font-size: 20px;
	line-height: 24px;
}

#u855
{
	z-index: 16;
	width: 1529px;
	background-color: transparent;
	left: -291px;
	top: -741px;
	margin-bottom: -591px;
	position: relative;
}

#u867
{
	z-index: 2;
	width: 673px;
	background-color: transparent;
	margin-left: 137px;
	margin-top: 62px;
	position: relative;
}

#u848-4
{
	z-index: 4;
	width: 533px;
	min-height: 74px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	margin-left: 213px;
	margin-top: 75px;
	position: relative;
}

#u861
{
	z-index: 14;
	width: 672px;
	background-color: transparent;
	margin-left: 137px;
	margin-top: 74px;
	position: relative;
}

#pu850
{
	width: 0.01px;
	margin-left: 356px;
	margin-top: 185px;
}

#u850
{
	z-index: 12;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u849-4
{
	z-index: 8;
	width: 171px;
	min-height: 34px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 38px;
}

#u849-4:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 171px;
	margin: 8px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 1747px;
}

#page .verticalspacer
{
	clear: both;
}

