.version.illustrations /* version checker */
{
	color: #0000EB;
	background-color: #437E15;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.80000000000155px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -1124px;
	width: 0.01px;
}

#ppu938
{
	width: 0.01px;
	margin-left: -285px;
}

#pu938
{
	z-index: 13;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u938
{
	z-index: 0;
	width: 1529px;
	background-color: #000000;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu939-4
{
	width: 0.01px;
	position: relative;
	left: 305px;
	padding-top: 142px;
	z-index: 2;
	padding-bottom: 363px;
}

#u939-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u926
{
	z-index: 2;
	width: 1529px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u926_clip
{
	overflow: hidden;
	width: 1529px;
	height: 591px;
}

#u926_img
{
	margin-top: -302px;
	margin-bottom: -785px;
}

#u937-9
{
	z-index: 4;
	width: 533px;
	min-height: 204px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 559px;
	left: 498px;
}

#u937-3
{
	font-size: 24px;
	line-height: 29px;
}

#u937-4,#u937-6
{
	font-size: 20px;
	line-height: 24px;
}

#pu949
{
	width: 0.01px;
	margin-left: 53px;
	margin-top: 23px;
}

#u949
{
	z-index: 24;
	width: 473px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u955
{
	z-index: 26;
	width: 365px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#pu967
{
	width: 0.01px;
	margin-left: 53px;
	margin-top: 25px;
}

#u967
{
	z-index: 30;
	width: 339px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u967_clip
{
	overflow: hidden;
	width: 339px;
	height: 332px;
}

#u967_img
{
	margin-bottom: -49px;
}

#u961
{
	z-index: 28;
	width: 492px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 382px;
}

#pu973
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 26px;
}

#u973
{
	z-index: 32;
	width: 420px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u979
{
	z-index: 34;
	width: 420px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 463px;
}

#pu944
{
	width: 0.01px;
	margin-left: 356px;
	margin-top: 117px;
}

#u944
{
	z-index: 22;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u943-4
{
	z-index: 18;
	width: 171px;
	min-height: 34px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 38px;
}

#u943-4:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 171px;
	margin: 8px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 1183px;
}

#page .verticalspacer
{
	clear: both;
}

